.tag {
  width: 190px;
  overflow: hidden;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button{
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}